.blogs-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 30px;

}
.sideBlog-container{
    margin-left: 30px;
}

.time-spent-blog {
    width: 400px;
    height: 70px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: 22px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.bookmark-blog {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    width: 400px;
    height: 1352px;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 30px;
}