.card-img {
    width: 845px;
    height: 450px;
    border-radius: 8px;
}

.author-img {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 12px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Exo 2';
    /* gap: 350px; */
}

.card-subInfo {
    display: flex;
    gap: 20px;
}

.card-subInfo img {
    margin-top: 20px;
}

.author-name {
    margin-bottom: 0;

}

.publish-date {
    margin-top: 2px;

}

.time-container {
    display: flex;
    margin-right: 50px;
}


.bookmark-icon {
    border: none;
    width: 24px;
    height: 25px;
    margin-top: 15PX;
}

.blog-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0;
}

.button {

    border: none;
    text-align: center;
    font-weight: bold;
    background: none;
    color: blue;
    text-decoration: underline;
    outline: inherit;
}