.header{
width: 1280px;
height: 64px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left:80px;

}
.header img{
width: 50px;
height: 50px;
border: 1px solid white;
border-radius: 50%;
margin-top: 12px;
}